.listGroup {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.itemWrapper {
  border-bottom: var(--border-width-static-primary) solid var(--border-color-themeable-primary);
}
