.card {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color-themeable-tertiary);
  border: var(--border-width-static-primary) solid var(--border-color-themeable-primary);
  border-radius: var(--border-radius-static-primary);
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 16px;
}

.value {
  font-family: var(--text-family-static-headline);
  font-size: var(--text-size-static-display1);
  font-weight: var(--text-weight-static-regular);
  line-height: var(--text-line-static-display1);
  letter-spacing: var(--text-letter-static-primary);
  color: var(--text-color-themeable-primary);
}

.description {
  font-family: var(--text-family-static-body);
  font-size: var(--text-size-static-body1);
  font-weight: var(--text-weight-static-regular);
  line-height: var(--text-line-static-body1);
  letter-spacing: var(--text-letter-static-primary);
  color: var(--text-color-themeable-secondary);
}

.listWrapper {
  flex: 1;
  border-top: var(--border-width-static-primary) solid var(--border-color-themeable-primary);
}

.paginationRow {
  display: flex;
  justify-content: flex-end;
  padding: 12px 16px;
  border-top: var(--border-width-static-primary) solid var(--border-color-themeable-primary);
}
