.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--container-gap-static-small);
  padding: 20px var(--container-padding-static-large);
  background-color: var(--container-color-themeable-tertiary);
  border: var(--border-width-static-primary) solid var(--border-color-themeable-primary);
  border-radius: var(--border-radius-static-primary);
}

.valueSection {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.value {
  font-family: var(--text-family-static-headline);
  font-size: var(--text-size-static-display1);
  font-weight: var(--text-weight-static-regular);
  line-height: var(--text-line-static-display1);
  letter-spacing: var(--text-letter-static-primary);
  color: var(--text-color-themeable-primary);
}

.description {
  font-family: var(--text-family-static-body);
  font-size: var(--text-size-static-body1);
  font-weight: var(--text-weight-static-regular);
  line-height: var(--text-line-static-body1);
  letter-spacing: var(--text-letter-static-primary);
  color: var(--text-color-themeable-secondary);
}

.icon {
  width: var(--icon-width-static-xl);
  height: var(--icon-height-static-xl);
  flex-shrink: 0;
  color: var(--icon-color-themeable-secondary);
}
