.root {
  display: flex;
  align-items: center;
  gap: var(--container-gap-static-xxs);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--container-gap-static-xxs);
  justify-content: center;
  min-width: 0;
}

.name {
  font-family: var(--text-family-static-body);
  font-size: var(--text-size-static-body2);
  font-weight: var(--text-weight-static-regular);
  line-height: var(--text-line-static-body2);
  letter-spacing: var(--text-letter-static-primary);
  color: var(--text-color-themeable-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userId {
  font-family: var(--text-family-static-body);
  font-size: var(--text-size-static-caption);
  font-weight: var(--text-weight-static-regular);
  line-height: var(--text-line-static-caption);
  letter-spacing: var(--text-letter-static-primary);
  color: var(--text-color-themeable-secondary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
